# Archivos de compilación de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
.idea/
.idea
# Archivos generados por el compilador
*.o
*.out
*.d
.DS_Store

# Ejecutable
SituacionProblema

# Directorio de compilación
build/

# Configuración de VS Code (local)
.vscode/
